{% extends "home.html" %}


{% block body %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#check" aria-controls="check" role="tab" data-toggle="tab">Check</a></li>
    <li role="presentation"><a href="#help" aria-controls="help" role="tab" data-toggle="tab">Risultato</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
   
    <div role="tabpanel" class="tab-pane active" id="check" style="padding: 10px;">
    {% for table in tables %}
        {{ table|safe }}
        <span align="center"><p>{{ strings[loop.index] }}</p></span>
    {% endfor %}
    </div>
    
    <div role="tabpanel" class="tab-pane" id="help">
    Non ci siamo.....
    </div>

  </div>

</div>

{% endblock %} 
